#include "winver.h"

IDI_ICON1		ICON		DISCARDABLE	"gr-lida.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,11,0,0
 PRODUCTVERSION 0,11,0,0
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", ""
            VALUE "FileDescription", "GR-lida front-end para DOSBox, ScummVM y VDMSound"
            VALUE "FileVersion", "0.11.0.0"
            VALUE "LegalCopyright", "Copyright (C) 2006-2014"
            VALUE "InternalName", "gr-lida.exe"
            VALUE "OriginalFilename", "GR-lida.exe"
            VALUE "ProductName", "GR-lida"
            VALUE "ProductVersion", "0.11.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
