[Desktop Entry]
Encoding=UTF-8
Name=GR-lida
Comment=Front-End para el DOSBox, ScummVM y VDMSound
Exec=gr-lida
Icon=gr-lida.svg
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
